/* <style> */
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;  
    }
    div img{
        width: 400px;
        height: 300px;
        border: 2px solid pink;
        border-radius: 13px;
        box-shadow: 4px 7px 7px 0px red;
        cursor: pointer;
        margin: 10px;
        transition: 400ms;
    }
        div img:hover{
            filter:drop-shadow(16px 16px 20px blue);
            filter: contrast(110%);
            transform: scale(3.2, 2.9);
        }
body{
        background-colour=green;
}

    /* </style> */
